# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/
tempCodeRunnerFile.py

# Project Specific
#Results/ To include examples
#SimResults/ To include examples
TrainingModels/
a2c_tuning_results.txt
generate_pid_train_data.txt
*.log